infra/workflows_backup.json
[{"updatedAt":"2026-04-14T15:35:50.672Z","createdAt":"2026-04-13T14:00:19.696Z","id":"1SUIWvJ41wG4sW8q","name":"Samurai-FI-MCMV","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"mcmv-lead","options":{}},"id":"08ba7bb3-5ee3-4359-82e9-322211d8ec38","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-416,496],"webhookId":"19a2577d-caef-4466-8500-880f33091c55"},{"parameters":{"fromEmail":"samuraidocopy@gmail.com","toEmail":"samuraidocopy@gmail.com","subject":"={{ '🔥 NOVO LEAD: ' + $json.body.name }}","text":"={{ 'Nome: ' + $json.body.name + '\\nWhatsApp: ' + $json.body.whatsapp + '\\n\\n--- ANÁLISE RYAN SERHANT ---\\n' + $json.body.analysis }}","options":{}},"id":"df8c4575-abf3-4fc4-b3e8-fb0643230120","name":"Email Alerta","type":"n8n-nodes-base.emailSend","typeVersion":2,"position":[-176,400],"webhookId":"42cff0f6-720a-4be0-9f71-76acbb4475a1","credentials":{"smtp":{"id":"vtldeYEBdrXrDyi2","name":"SMTP account"}}},{"parameters":{"method":"POST","url":"http://evolution-api:8080/message/sendText/samurai","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"mcmv_ryan_serhant_secret_777_!!"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"number\": \"5511983076914\",\n  \"text\": \"🚨 *NOVO LEAD QUALIFICADO*\\n\\n*Nome:* {{$json.body.name}}\\n*WhatsApp:* {{$json.body.whatsapp}}\\n\\n_Dê uma olhada no seu e-mail para ver a análise completa do Ryan Serhant!_\"\n}","options":{}},"id":"2d51d7aa-d030-475d-b041-d94a2beede9f","name":"Alerta WhatsApp","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-176,560]}],"connections":{"Webhook":{"main":[[{"node":"Email Alerta","type":"main","index":0},{"node":"Alerta WhatsApp","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"03fbbf28-bf67-4571-9252-65c70736b897","activeVersionId":"03fbbf28-bf67-4571-9252-65c70736b897","versionCounter":52,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-04-13T14:00:19.708Z","createdAt":"2026-04-13T14:00:19.708Z","role":"workflow:owner","workflowId":"1SUIWvJ41wG4sW8q","projectId":"5dylNQcNiMepuBdy","project":{"updatedAt":"2026-04-13T13:57:41.194Z","createdAt":"2026-04-13T13:34:07.436Z","id":"5dylNQcNiMepuBdy","name":"Vitor Uehara <samuraidocopy@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"0ea92540-edd6-4ca2-a664-fe5a22ec8013"}}],"versionMetadata":{"name":"Version 03fbbf28","description":""}}]